---
import Layout from "../layouts/Layout.astro";

const socialMedia = [
  {
    link: "https://github.com/ishaanko",
    icon: "i-myna-brand-github",
  },
  {
    link: "https://twitter.com/ishaanko",
    icon: "i-myna-brand-x",
  },
  {
    link: "https://www.instagram.com/ishaanko_/",
    icon: "i-myna-brand-instagram",
  },
  {
    href: "https://www.linkedin.com/in/ishaan-kothari-3369a52a6/",
    icon: "i-myna-brand-linkedin",
    label: "LinkedIn",
  },
  {
    link: "mailto:imishaanko@gmail.com",
    icon: "i-myna-envelope",
  },
];
---

<Layout
  title="Ishaan's website"
  description="Programming is one of my biggest passions and I hope to create a better world with it. I'm interested in web dev, robotics and machine learning "
>
  <div class="flex items-center justify-center min-h-70vh p-12">
    <div class="w-full grid gap-6 max-w-xl slide-enter-content">
      <div>
        <h1 class="dark:text-#e5e7eb text-4xl font-bold item">
          Ishaan Kothari
        </h1>
      </div>
      <div class="text-sm grid gap-3">
        <div>
          <p>Hi, I'm Ishaan.</p>
          <p>I'm currently a student in high school.</p>
        </div>
        <p>
          Programming is one of my biggest passions and I hope to create a
          better world with it. I'm interested in web dev, robotics, competitive
          programming and machine learning. You can find my <a
            href="/projects"
            class="font-bold underline">projects here</a
          >.
        </p>
        <p>
          Outside programming, I spend my time playing tennis and games like
          VALORANT. You can contact me through my <a
            href="https://discordapp.com/users/762782226307350599"
            class="font-bold underline">Discord</a
          >.
        </p>
      </div>
      <div class="w-20 h-1px bg-gray opacity-50 mx-auto mt-2"></div>
      <div class="text-sm">
        <p>Find me on:</p>
        <div class="flex items-start justify-start gap-4 mt-2">
          {
            socialMedia.map((url) => (
              <a
                href={url.link}
                class=" flex items-center justify-center gap-2"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class:list={[url.icon, "inline-block", "w-4", "h-4"]} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
